<div class="sort--buttons">
  <button (click)="changeSort('type')">Sort by type</button>
  <button (click)="changeSort('price')">Sort by price</button>
  <button (click)="changeSort('name')">Sort by name</button>
  <button class="filter-button" (click)="filterByType()">
    toggle filter
  </button>
</div>
<ul class="item-list store--item-list">
  <li *ngFor="let item of items | sortPipe: this.sort">
    <div class="store--item-icon">
      <img 
      src="{{'../../assets/icons/' + item.id + '.svg'}}" 
      alt="{{item.name}}" />
    </div>
    <button (click)="addItem(item)">Add to cart</button>
  </li>
</ul>

