.store-container {
  height: 40vh;
  padding: 1rem;

  overflow-y: scroll;

  background-color: #e7f4ea;
}

.cart-container {
  height: 60vh;
  padding: 1rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  justify-content: center;

  border-top: 2px solid #e7f4ea;
}
